@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
    text-decoration: none;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@font-face {
  font-family: "Humane";
  src: url("./assets/fonts/Humane-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Humane";
  src: url("./assets/fonts/Humane-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Tempting";
  src: url("./assets/fonts/Tempting\ -\ PERSONAL\ USE\ ONLY.otf") format("opentype");
  font-weight: 150;
}