@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
    text-decoration: none;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}